.modal {
  position: relative !important;
  display: block !important;
  width: 300px !important;
  float: left;
  margin-right: 50px;
}
.qr {
  position: fixed !important;
  display: block !important;
  /* width: 300px !important; */
  /* float: left; */
  top: 200px;
  left: 20%;
  margin-right: 50px;
  z-index: 10000;
  background-color: lightblue;
  padding: 60px;
}
.forms {
  width: 600px;
  position: fixed;
  top: 2rem;
  left: 20%;
  background-color: white;
  box-shadow: 2px 2px 3px black;
  z-index: 10000;
  padding: 50px;
}
