.post__card__hidden {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
}
.post__card {
  max-width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  margin-bottom: 20px;
}
.post__card__head {
  position: relative;
  height: 180px;
}
.post__card__head img {
  width: 100%;
  height: 180px;
  border-radius: 10px 10px 0 0;
}
.post__card--overlay {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 10px;
  left: 10px;
  right: 10px;
  color: #fff;
}
.post__card--overlay h5 {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
}
.post__card--overlay p {
  font-size: 12px;
}
.card__overlay--right {
  position: relative;
  cursor: pointer;
}
.post__card__dropdown {
  position: absolute;
  right: 0;
  transform-origin: top right;
  transform: scale(0);
  transition: all 0.3s;
  z-index: 101;
}
.post__card__dropdown.active {
  transform: scale(1);
}
.post__card__dropdown ul {
  background-color: var(--second-background);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  list-style: none;
  border-radius: 10px;
  width: max-content;
  padding: 8px 0;
}
.post__card__dropdown ul li {
  z-index: 1;
  color: var(--second-color);
  font-size: 14px;
  padding: 5px 10px;
}
.post__card__dropdown ul li:hover {
  background-color: blanchedalmond;
}
.post__card__body {
  background-color: var(--second-background);
  border-radius: 0 0 10px 10px;
  width: 100%;
  padding: 10px;
}
.post__card__body small {
  margin-right: 10px;
  color: var(--txt-color);
}
.post__card__body h2 {
  color: var(--third-color);
  margin: 10px 0;
}
.post__card__link {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 5px;
}
.post__card__link button {
  background-color: var(--fourth-background);
  color: blue;
  cursor: pointer;
}
