.copyright {
  padding: 1rem;
  border-top: 1px solid lightgray;
  text-align: center;
  color: #fff;
}
.copyright a {
  font-weight: 600;
  color: #00c9ff;
}
.copyright a:hover {
  color: #fc5492;
}
.copyright--dashboard {
  padding: 1rem;
  text-align: center;
  color: var(--txt-color);
  background-color: var(--second-background);
  border-radius: 15px;
  margin: 0 20px;
  box-shadow: var(--box-shadow);
}
.copyright--dashboard a {
  font-weight: 600;
  color: var(--second-color);
}
.copyright--dashboard a:hover {
  color: #fc5492;
}

.copyright--bottom {
  padding-bottom: 25px;
}
