.form__create {
  width: 360px;
  min-height: 100px;
  padding: 32px 24px;
  text-align: center;
  background: var(--second-background);
  border-radius: 2px;
  margin: 24px;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}
.form__submit {
  outline: none;
  background-color: #1dbfaf;
  margin-top: 12px;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}
.form__submit:hover {
  background-color: #1ac7b6;
}
.agricultural__create {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
#form__create__agricultural .form__group {
  margin-bottom: 8px;
}
.agricultural__create:hover {
  cursor: url("./../../../assets/img/icon/close.png"), auto;
}
#form__create__agricultural:hover {
  cursor: default !important;
}
