.post__form {
  position: fixed;
  right: 30px;
  top: 140px;
  width: 300px;
  height: auto;
  background-color: var(--second-background);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 15px;
}
.post__form h5 {
  color: var(--txt-color);
  text-align: center;
  margin-bottom: 10px;
}
.form__control.form__textarea {
  height: 50px;
}
.post__form button {
  outline: none;
  background-color: #1dbfaf;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}
.post__create {
  position: absolute;
  right: 10px;
  top: 2px;
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
}
.post__create span {
  position: absolute;
  width: max-content;
  top: calc(100% + 5px);
  right: 0;
  color: black;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  z-index: 100;
  transition: all 0.3s;
  transform-origin: top right;
  transform: scale(0);
}
.post__create:hover span {
  transform: scale(1);
}
.post__create i {
  position: relative;
  top: 2px;
}
