.dashboard__body__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  min-height: 50px;
}
.dashboard__body__header h2 {
  background-color: var(--second-background);
  color: var(--txt-color);
  padding: 5px 15px;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  box-shadow: var(--box-shadow);
}
.dashboard__body__header h2 span {
  font-weight: 500;
  cursor: pointer;
}
.dashboard__body__header h2 span ~ small {
  font-weight: 500;
}
.dashboard__body__header button {
  position: relative;
  color: var(--primary-color);
  border-radius: 50%;
  background-color: var(--second-background);
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}
.dashboard__body__header button i {
  font-weight: bold;
  margin-top: 4px;
}
.dashboard__body__header button .tooltip__create {
  position: absolute;
  background-color: #fff;
  color: black;
  text-transform: uppercase;
  width: 100px;
  padding: 10px 0;
  font-size: 12px;
  border-radius: 10px;
  right: calc(100% + 15px);
  bottom: 16px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all 0.3s;
}
.dashboard__body__header button:hover .tooltip__create {
  opacity: 1;
  bottom: 6px;
}
.dashboard__body__header button .tooltip__create::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background: #fff;
  left: 100%;
  top: 31%;
  transform: translateX(-50%) rotate(45deg);
}
.dashboard__body--min--height {
  min-height: 70vh;
}
.dashboard__blockchain {
  position: fixed;
  bottom: 150px;
  right: 25px;
  padding: 10px;
  background-color: rgb(22, 80, 189);
  z-index: 101;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.dashboard__blockchain .blockchain__link {
  color: #fff;
}
.dashboard__blockchain span {
  position: absolute;
  bottom: calc(100% + 15px);
  right: 0;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--txt-color);
  background-color: #fff;
  box-shadow: var(--box-shadow);
  transform-origin: bottom right;
  transform: scale(0);
  transition: 0.2s;
}
.dashboard__blockchain:hover span {
  transform: scale(1);
}
