.ve-chung-toi span {
  font-weight: 700 !important;
  color: rgb(12, 133, 188);
  text-align: center !important;
  font-size: 48px !important;
}
.ve-chung-toi p {
  color: #111;
}

.home__header {
  position: absolute;
  width: auto;
  height: 364px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1000;
  text-align: center;
}
.home__header__title h5 {
  width: 45%;
  padding-left: 8rem;
  text-align: left;
  color: white;
  font-size: 34px;
}
.home__header__button button {
  position: absolute;
  box-sizing: border-box;
  padding: 12px 70px;
  border: 2px solid #fff;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 30px;
  left: 8rem;
  z-index: 2;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.home__header__button button:hover {
  background-color: white;
  opacity: 0.8;
  color: red;
}

.home__header p {
  color: white;
  text-align: left;
  padding-left: 8rem;
  left: 8rem;
}
