.ve-chung-toi span {
  font-weight: 700 !important;
  color: rgb(12, 133, 188);
  text-align: center !important;
  font-size: 48px !important;
}
.ve-chung-toi p {
  color: #111;
}
.home__header {
  position: absolute;
  width: auto;
  height: 364px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 10;
  text-align: center;
}

.home__header__title h5 {
  margin-top: 50px;
  width: 45%;
  padding-left: 8rem;
  text-align: left;
  color: white;
  font-size: 34px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.home__header__button {
  padding-left: 8rem;
}
.home__header__button button {
  box-sizing: border-box;
  padding: 12px 70px;
  border: 2px solid #fff;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 30px;
  z-index: 2;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  float: left;
}
.home__header__button button:hover {
  background-color: white;
  opacity: 0.8;
  color: red;
}

.home__header p {
  color: white;
  text-align: left;
  padding-left: 8rem;
  line-height: 1.5;
}

@media only screen and (max-width: 900px) {
  .home__header {
    top: 200px;
  }
  .home__header__title h5 {
    margin-top: 0;
    padding-left: 2rem;
    font-size: 24px;
  }
  .home__header__button {
    padding-left: 2rem;
  }
  .home__header__button button {
    padding: 8px 40px;
    font-size: 14px;
  }

  .home__header p {
    font-size: 14px;
    padding-left: 2rem;
  }
}
@media only screen and (max-width: 440px) {
  .home__header {
    display: none;
  }
}
