.qr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.qr button {
  margin: 2rem;
  box-shadow: var(--box-shadow);
  padding: 3px 10px;
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
  background-color: #fff;
}
.qr span {
  padding: 15px;
  box-shadow: var(--box-shadow);
  background-color: #fff;
}
