.email--padding + footer > .footer {
  padding-top: 3rem !important;
}
.email--padding .row .col {
  padding: 0 15px;
}
.search__email {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 850px;
  margin: auto !important;
}
.search__email h2 {
  font-size: 1.8em;
  display: block;
  font-family: "Lora", serif;
  font-weight: 400;
  margin: 1rem 0 10px;
  line-height: 1.4;
  color: white;
  text-align: center;
}
.search__email p {
  color: lightgray;
  text-align: center;
  margin-bottom: 1rem;
}
.search__email hr {
  width: 50px;
  color: white;
  margin: auto;
  opacity: 1 !important;
  height: 0px;
  background-color: #fff;
  outline: none;
}
.search__email--input {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.search__email--input input:focus {
  box-shadow: none;
  outline: none;
}
.search__email--input input[type="submit"] {
  border-radius: 0 30px 30px 0;
  border: 2px solid white;
  color: white;
  padding: 10px 30px;
  background: transparent;
}
.search__email--input input[type="submit"]:hover {
  background-color: white;
  color: black;
}
.search__email ::placeholder {
  color: white;
  opacity: 1;
}
.search__email--input input[type="text"] {
  max-width: 220px;
  padding: 10px 20px;
  border-radius: 30px 0 0 30px;
  color: lightgray;
  border: 2px solid white;
  margin-right: -3px;
  background: transparent;
}
.search__email.email {
  background-image: linear-gradient(coral, #fc5492);
  position: relative;
  top: 60px;
  border-radius: 15px;
}
.message__error__email {
  color: red;
}
@media only screen and (max-width: 600px) {
  .search__email--input input[type="text"] {
    max-width: 165px !important;
    padding: 10px 10px;
  }
  .search__email--input input[type="submit"] {
    padding: 10px 20px;
  }
  .search__email form {
    padding: 0px;
  }
}
