.contact__slider {
  width: 100%;
  height: 100vh;
  background: url("./../../../assets/img/bg.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
}
.contact__slider::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.contact__slider--content {
  position: absolute;
  width: 100%;
  bottom: 80px;
  z-index: 1;
  color: white;
}
.contact__slider--text {
  width: 100%;
  text-align: center;
}
.contact__slider--text h5 {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
.contact__slider--text p {
  text-align: center;
  font-size: 15px;
}
.contact__slider--content img {
  width: 500px;
  display: block;
  margin: auto auto -40px;
  opacity: 0.7;
}
