.dashboard--navbar {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  justify-content: space-between;
  height: 80px;
  background-color: var(--second-background);
  box-shadow: var(--box-shadow);
  z-index: 100;
}
.dashboard--navbar__title h1 {
  font-size: 18px;
  font-weight: 500;
  color: var(--txt-color);
  border: 2px solid #fff !important;
  padding: 5px 15px;
  border-radius: 15px;
  text-transform: uppercase;
}
.dashboard--navbar__title h1 > i {
  color: var(--txt-color);
  position: relative;
  top: 2px;
}
.dashboard--navbar__search {
  position: relative;
  display: flex;
  align-items: center;
}

.dashboard--navbar__profile {
  display: flex;
  align-items: center;
}
.navbar__profile--item ~ .navbar__profile--item {
  margin-left: 20px;
}

.message-item {
  display: flex;
  align-content: center;
  padding: 10px;
  color: var(--txt-color);
}
.message-item:hover {
  background-color: var(--fourth-background);
}
.message-item > i {
  margin-right: 10px;
  font-size: 1.5rem;
}

.navbar__profile--user {
  display: flex;
  align-items: center;
}
.navbar__profile--user__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.navbar__profile--user__image > img {
  width: 100%;
  height: 100%;
}
.navbar__profile--user__name {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.dashboard__mobile {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  .dashboard--navbar__title {
    display: none;
  }
  .dashboard--navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 430px) {
  .dashboard--navbar__search {
    display: none;
  }
  .dashboard__mobile {
    display: block;
  }
}
