.grid.body {
  max-width: 96%;
  margin: 0 auto;
}
.card--body {
  padding: 30px;
  margin-bottom: 30px;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
}
.card--body__header {
  text-transform: capitalize;
}
.card--body__header ~ .card--body__content {
  margin-top: 30px;
}
.card--body__footer {
  text-align: center;
  text-transform: capitalize;
}
