.dashboard--card {
  padding: 30px;
  display: flex;
  align-items: center;
  background-color: var(--second-background);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease 0s;
  margin-bottom: 25px;
  color: var(--third-color);
}

.dashboard--card__icon {
  width: 30% !important;
  height: 100%;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.dashboard--card__text {
  flex-grow: 1;
  text-align: center;
  z-index: 1;
  text-transform: capitalize;
}

.dashboard--card__text > h4 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.dashboard--card::before {
  content: "";
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-image: linear-gradient(
    to top right,
    var(--main-color),
    var(--second-color-primary)
  );
  position: absolute;
  left: -50%;
  top: 0;
  transform: scale(0);
  transition: transform 0.8s ease 0s;
}

.dashboard--card:hover::before {
  transform: scale(3);
}

.dashboard--card:hover {
  color: var(--txt-white);
}

.card--chart {
  padding: 30px;
  background-color: var(--second-background);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  height: calc(100% - 25px);
  z-index: 1;
}
