footer {
  background-color: #07112d;
}

.footer .row {
  padding: 30px 0;
}
.footer__header {
  font-weight: 600;
  font-size: 20px;
  color: #d4cece;
  margin: 10px 0;
}

.footer__text {
  font-size: 0.8em;
  color: #7d879c;
  line-height: 1.7;
}
.footer__text a {
  color: #7d879c;
  text-decoration: none;
  padding: 15px 0;
}
.footer__text a:hover span {
  color: #fc5492;
}
.footer__text a:hover {
  color: #fc5492;
}
.footer__text > a > i {
  color: white;
  background-color: gray;
  line-height: 20px;
  width: 20px;
  text-align: center;
  height: 20px;
  border-radius: 50%;
  margin-bottom: 5px;
}
.footer__text ul {
  padding-left: 0px;
  list-style-type: none;
}
.footer__text > ul > li {
  display: flex;
  align-items: center;
}
.footer__text ul li span > a {
  padding: 0px !important;
}
.footer li:hover i {
  padding-right: 10px;
  cursor: pointer;
}
.footer li:hover span {
  cursor: pointer;
  color: #fc5492;
}
.footer__text img {
  width: 100px;
  height: 30px;
  margin: 5px;
}
.footer__text img:hover {
  box-shadow: 2px 2px 5px black;
  box-sizing: border-box;
}
.footer__contact > a {
  text-decoration: none;
  margin-right: 15px;
}
.footer__contact > a > i {
  transition: 0.5s;
  border-radius: 50%;
  background-color: #0d152c;
  border: 1px solid rgb(85, 82, 82);
  padding: 5px;
  width: 40px;
  height: 40px;
  line-height: 30px;
  text-align: center;
  box-shadow: 0px 0px 1px 1px rgb(85, 82, 82);
  color: white;
}
.footer__contact > a > i:hover {
  transform: rotate(90deg);
  background-color: #fc5492;
  color: blue;
}
